* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3.5em;
    margin-top: -4vh;
    margin-bottom: 8vh;
}

#board {
    width: 87.5vh;
    height: 70vh;
    margin: 0;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(10, 1fr);
}

.tiles {
    
    border: .17em solid #c573b3;
    border-radius: .1em;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#end-box {
    background: purple;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    width: 20vh;
    height: 20vh;
    top: 50%;
    left: 44.7%;
    margin: 0;
    flex-direction: column;
    
  
    
    transform: scale(1.5);
  
    
    opacity: 0;
    pointer-events: none;
}

#replay {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: center;
    background-color: green;
    width: 10vh;
    height: 6vh;
    cursor: pointer;
}
  
  .dialogIsOpen #end-box {
  
    
    transform: scale(1); 
    opacity: 1;
  
    
    pointer-events: auto;
  
  }
  #page-wrap, #end-box {
  
    transition: all 0.4s ease; 
  
  }  
  img {
    max-width:90%;
    max-height:90%;
    pointer-events: none;
  }

  #flag {
      width: 15px;
      height: auto;
  }