* {
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

#page-wrap {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". header ."
    " . subheader ."
    "bomb board miner";
    height: 100vh;
    margin: 0;
    background-color: #122432;
    color: #5E7B46;
}

ul {
    grid-area: subheader;
    cursor: pointer;
    justify-self: center;
    list-style-type: none;
    justify-content: space-between;
}
li {
    display: inline;
    font-size: 3vh;
}

h1 {
    grid-area: header;
    justify-self: center;
    font-size: 3.5em;
}

h2 {
    grid-area: subheader;
    justify-self: start;
    margin-left: 5vh;
    align-self: end;
    font-size: 4vh;
}

#f-count{
    grid-area: subheader;
    justify-self: end;
    align-self: end;
    margin-right: 6vh;
    font-size: 4vh;
}
#board {
    grid-area: board;
    justify-self: center;
    width: 87.5vh;
    height: 70vh;
    margin: 0;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(10, 1fr);
}

.tiles {
    
    border: .07em solid #c573b3;
    border-radius: .1em;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#end-box {
    background: #122432;
    color: white;
    border: 6px solid #4E2718;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    width: 20vh;
    height: 20vh;
    top: 50%;
    left: 44.7%;
    margin: 0;
    flex-direction: column;
    transform: scale(1.5);  
    opacity: 0;
    pointer-events: none;
}

#replay {
    border: 6px solid lightgreen;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: center;
    background-color: green;
    width: 10vh;
    height: 6vh;
    cursor: pointer;
    padding: 0 1vh;
    font-size: 1.5vh;
}
  
  .dialogIsOpen #end-box {
  
    
    transform: scale(1); 
    opacity: 1;
  
    
    pointer-events: auto;
  
  }
  #page-wrap, #end-box {
  
    transition: all 0.4s ease; 
  
  }
  #miner {
    grid-area: miner;
    justify-self: center;
    align-self: center;
    width: 100vh;
  }
  #bomb {
    grid-area: bomb;
    justify-self: center;
    width: 20vh;
  }
  img {
    max-width:90%;
    max-height:90%;
    pointer-events: none;
  }

  #flag {
      grid-area: subheader;
      justify-self: end;
      align-self: end;
      margin-right: 10vh;
      width: 3vh;
      height: auto;
  }